$color_1: #ffffff;
$color_2: #9356dc;
$color_3: #7e7e7e;
$color_4: #131313;
$color_5: transparent;
$color_6: #111111;
$color_7: #008766;
$heartgrt: 193.33deg,
    #9356DC -11.44%,
    #FF79DA 123.93%;
;
$btnhover: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%),
    linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));