@import "elements/color.scss";

@import "elements/mixins.scss";
@import "elements/font.scss";

$background-color_1: #eaeaea;
$background-color_2: #f6f6f6;
$background-color_3: #9747ff;
$background-color_4: #ffffff;
$background-color_5: #99e2d0;
$background-color_6: #353535;

.containerload {
    animation: hideLoader 4s forwards;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #353535;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    flex-direction: column;
    visibility: visible;

    @keyframes hideLoader {

        100% {
            display: none;
        }
    }

    .loadicon {
        color: #ff79da;
        animation: rotation 2s infinite linear;
    }

    @keyframes rotation {
        from {
            transform: rotate(360deg);
        }

        to {
            transform: rotate(0deg);
        }

    }

    .loadlettre {
        margin-bottom: 40px;
        color: #ff79da;

        .lettre {
            font-size: 35px;
            letter-spacing: 10px;
            animation: fondu 2s linear infinite;
        }
    }

    @keyframes fondu {
        0% {
            color: #ff79da;
            text-shadow: 0 0 7px #ff79da;
        }

        90% {
            color: #a16eff;
            text-shadow: 0 0 7px #a16eff
        }

        100% {
            color: #ff79da;
            text-shadow: 0 0 7px #ff79da;
        }

    }

    .lettre:nth-child(1) {
        animation-delay: 100ms;
    }

    .lettre:nth-child(2) {
        animation-delay: 200ms;
    }

    .lettre:nth-child(3) {
        animation-delay: 300ms;
    }

}

body {
    width: 100%;
    font-family: $font-family_1;
    margin: 0px;
    display: block;

}



a {
    text-decoration: none;
    color: $color_6
}

.navmenu {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        display: none
    }

    .logo {
        @include logo;
    }


    .position {
        @include flexcenter;
        background-color: $background-color_1;
        width: 100%;
        gap: 17px;
        border-top: 2px solid #CCCCCC;

        .p {
            margin-left: 20px;

        }
    }
}

.reservez-votre-menu {
    text-align: center;
    background-color: $background-color_2 ;
    padding-top: 20px;
    width: 100%;
    padding-bottom: 35px;

    H1 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 10px;
        margin-top: 20px;

    }

    p {
        font-size: 18px;
        font-weight: 300px;
    }


    .btn {
        @include btn;
        font-size: 16px;
        font-weight: 500;
        margin-top: 15px;
        font-family: $font-family_1;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            background: linear-gradient(#ff90e7, #a16eff);
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
        }
    }
}

.fonction {
    margin: 20px 0 50px 20px;

    .fonction__bt {
        display: flex;
        flex-wrap: wrap;

    }

    .fonction-content {
        display: flex;
        align-items: center;
        border-radius: 20px;
        background-color: $background-color_2;
        box-shadow: 0px 4px 15px 0px #00000026;
        height: 70px;
        margin: 10px;
        width: 90%;
    }

    .fonction_number {

        background-color: $background-color_3;
        color: $color_1;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -10px;
    }

    h2 {
        display: inline-block;
    }



    p {
        display: block;
        margin: 0px 0 0 17px;
        color: $color_4;
    }

    .fonction__icon {
        margin-left: 20px;
        color: $color_3;
    }

    .fa-store {
        margin-left: 20px;
        color: $color_2;
    }

}

.restaurant {
    background-color: $background-color_2;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding-bottom: 50px;

    h2 {
        margin-left: 25px;
        margin-bottom: 0px;
        margin-top: 40px;
        font-size: 24px;
    }





    .card {

        background-color: $background-color_4;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
        padding-bottom: 20px;
        width: 90%;
        border-radius: 15px;
        position: relative;
        margin: 20px;

        .restaurant-card {

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        img {
            height: 231px;
            width: 100%;
            object-fit: cover;
            border-radius: 15px 15px 0 0;

        }



        .new {
            position: absolute;
            top: 0%;
            right: 5%;
        }

        .container-new {
            display: flex;
            justify-content: flex-end;
            margin-right: 25px;


            p {
                @include flexcenter;
                height: 30px;
                padding: 5px 15px;
                color: $color_7;
                background-color: $background-color_5;
                border-radius: 5%;
                margin-left: 10px;

            }
        }

        .card-txt {
            color: $color_4 ;
            margin-left: 3px;
            margin-top: 2px;
            font-size: 17px;
            font-style: normal;
            font-weight: 300;

            h3 {
                display: inline-block;
                margin: 20px 0 0 15px;
                border-radius: 20px 20px 0 0;

            }

            p {
                margin: 5px 0 0 17px;
            }
        }



        .full {
            position: absolute;
            top: 83%;
            right: 10%;
            transform: translateY(-50%);
            font-size: 25px;
            cursor: pointer;
            opacity: 0;
        }

        .empty {
            position: absolute;
            top: 83%;
            right: 10%;
            transform: translateY(-50%);
            font-size: 25px;
            cursor: pointer;
        }

        .full:hover {
            color: transparent;
            background-image: linear-gradient(10deg, #ff79da, #9356DC);
            -webkit-background-clip: text;
            background-clip: text;
            transition: all 400ms;
            opacity: 1;
        }
    }
}



footer {

    background-color: $background-color_6;
    width: 100%;
    height: 180px;
    color: $color_1;

    a {
        color: white;
    }

    .footercontent {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .logofooter {
        filter: invert(1);
        padding-left: 9px;
        width: 139px;
        height: 20px;
    }

    .liste {
        padding-left: 20px;
        list-style: none;

    }

    .fa-solid {
        margin-right: 10px;
    }


}

@media (min-width: 767px) and (max-width: 1025px) {

    .reservez-votre-menu {
        .titre-reservation {
            font-size: 35px;
        }

        p {
            font-size: 20px;
        }

        .btn {

            height: 50px;
            width: 230px;
        }
    }

    .fonction {
        margin: 20px 0 50px 20px;

        .titre-fonction {
            font-size: 24px;
        }

        .fonction__bt {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

        }

        .fonction-content {
            width: 30%;
            font-size: 16px;
        }
    }


    .restaurant {
        padding-bottom: 0px;

        h2 {
            font-size: 24px;
        }

        .restaurant-card {
            gap: 28px;
            display: flex;
            flex-wrap: wrap;
            margin: 5px;
        }

        .card-content {
            width: 48%;
        }
    }

    footer {
        @include footermedia;
    }

}

@media (min-width:1025px) {

    .logo {
        @include logo;
    }

    .titre-reservation {
        font-size: 40px;
    }

    .fonction {
        display: flex;
        flex-direction: column;
        margin-left: 180px;
        margin-right: 180px;

        .fonction__bt {
            display: flex;
            flex-direction: row;
            gap: 25px;
            margin: 0 30px;
            flex-wrap: nowrap;
        }

    }

    .restaurant {
        padding-left: 150px;
        padding-right: 150px;

        .restaurant-card {
            display: flex;
            flex-wrap: wrap;
        }


    }

    .card-content {
        width: 50%;
    }

    br {
        display: none;
    }

    footer {
        @include footermedia
    }
}