@import "https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@300;400;500;700&display=swap";
body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

.navmenu .logo {
  text-align: center;
  margin: 20px 0px 0px 0px;
  padding-bottom: 10px;
}
.navmenu .logo img {
  width: 50%;
}
.navmenu .position {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  width: 100%;
  gap: 17px;
  border-top: 2px solid #CCCCCC;
}
.navmenu .position .p {
  margin-left: 20px;
}

.reservez-votre-menu {
  text-align: center;
  background-color: #f6f6f6;
  padding-top: 20px;
  width: 100%;
  padding-bottom: 35px;
}
.reservez-votre-menu H1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 20px;
}
.reservez-votre-menu p {
  font-size: 18px;
  font-weight: 300px;
}
.reservez-votre-menu .btn {
  border-radius: 25px;
  color: #ffffff;
  background: linear-gradient(#ff79da, #9356dc);
  border: none;
  height: 50px;
  width: 220px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-weight: 500;
  margin-top: 15px;
  font-family: "Roboto", sans-serif;
}

.fonction {
  margin: 20px 0 50px 20px;
}
.fonction .fonction__bt {
  display: flex;
  flex-wrap: wrap;
}
.fonction .fonction-content {
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  height: 70px;
  margin: 10px;
  width: 90%;
}
.fonction .fonction_number {
  background-color: #9747ff;
  color: #ffffff;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -10px;
}
.fonction h2 {
  display: inline-block;
}
.fonction p {
  display: block;
  margin: 5px 0 0 17px;
  color: #131313;
}
.fonction .fonction__icon {
  margin-left: 20px;
  color: #7e7e7e;
}
.fonction .fa-store {
  margin-left: 20px;
  color: #9356dc;
}

.restaurant {
  background-color: #f6f6f6;
}
.restaurant h2 {
  display: inline-block;
  margin: 40px 10px 20px 20px;
}
.restaurant .restaurant-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.restaurant .card {
  background-color: #ffffff;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  padding-bottom: 20px;
  width: 400px;
  border-radius: 15px;
  position: relative;
}
.restaurant .card img {
  height: 231px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurant .card .new {
  position: absolute;
  top: 0%;
  right: 5%;
}
.restaurant .card .container-new {
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
}
.restaurant .card .container-new p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 5px 15px;
  color: #008766;
  background-color: #99e2d0;
  border-radius: 5%;
}
.restaurant .card .card-txt {
  color: #131313;
}
.restaurant .card .card-txt h3 {
  display: inline-block;
  margin: 20px 0 0 15px;
  border-radius: 20px 20px 0 0;
}
.restaurant .card .card-txt p {
  margin: 5px 0 0 17px;
}
.restaurant .card .icone-coeur {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}
.restaurant .card .icone-coeur .fa-regular {
  position: absolute;
  line-height: 3;
  width: 2px;
  cursor: pointer;
  color: black;
}
.restaurant .card .icone-coeur .full {
  position: absolute;
  opacity: 0;
  line-height: 3;
  width: 2px;
}
.restaurant .card .icone-coeur .full:hover {
  opacity: 1;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(10deg, #FF79DA, #9356DC);
  transition: all 400ms;
}

footer {
  display: flex;
  background-color: #353535;
  width: 100%;
  height: 180px;
  color: #ffffff;
}
footer a {
  color: white;
}
footer .footercontent {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
footer .logofooter {
  filter: invert(1);
  padding-left: 9px;
  width: 139px;
  height: 20px;
}
footer .liste {
  padding-left: 20px;
  list-style: none;
}
footer .fa-solid {
  margin-right: 10px;
}
footer li {
  margin-bottom: 8px;
}/*# sourceMappingURL=style.css.map */